dofile('config.elysiera.lua')
-- Enable/disable development mode
-- NOTE: In development mode, additional logs will be enabled, for deputation and testing purposes.
developmentMode = true
allConsoleLog = true

-- NOTE: true will allow the /reload command to be used
-- NOTE: Using this script might cause unwanted changes
-- This script forces a reload in the entire server, this means that everything that is stored in memory might stop to work properly and/or completely, this script should be used in test environments only
allowReload = true

-- MySQL
mysqlHost = "127.0.0.1"
mysqlUser = "root"
mysqlPass = "password"
mysqlDatabase = "tibia"
mysqlPort = 3306
mysqlSock = ""
passwordType = "sha1"
